/* Add your styling rules here */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(144, 176, 204, 0.282);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    
}

th, td {
    border: 2px solid #040404;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}